body {
    margin: 0;
    background-color: lightsalmon;
}

nav {
    background-color: lightcoral;
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

#menu-item {
    padding: 0 20px 0 20px;
}

#menu-image {
    height: 600px;
    width: 100%;
    object-fit: none;
    object-position: top;
}

#heading {
    text-align: center;
    padding: 20px 0 20px 0;
}

table {
    /* border: 5px black solid;
    border-collapse: collapse; */
    width: 100%;
}

td {
    /* border: 5px black solid; */
    /* padding: 10px; */

    text-align: center;
}

.gallery, .about-page {
    padding-left: 200px;
    padding-right: 200px;
}

#agent {
    height: 307px;
    width: auto;
    margin: 15px;
    background-color: white;
}

#agent>img {
    width: 100%;
    height: 250px;
    margin: 0%;
    padding: 0%;

}

h2 {
    background-color: white;
    margin-top: 0%;
    height: 45px;
    margin-top: 0%;
    padding-top: 7px;
}

h1 {
    color: darkblue;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
}