* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  background-color: lightblue;
}

#user-form {
  background-color: white;
  width: 400px;
  height: 200px;
  padding-top: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 350px;
  margin: 5px 25px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #aaaaaa25;
  font-size: 16px;
}

#submit-button {
  background-color: lightseagreen;
  border-radius: 5px;
  width: 100px;
  margin: 10px 150px;
}

#submit-button:hover {
  background-color: deeppink;
  color: white;
}