* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0%;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0%;
}

#menu-item7 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

div>div {
    font-size: 16px;
    margin: 10px;
}

.menu-bar {
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px #999;

}

nav {
    position: sticky;
    top: 0;
}

.group1, .group2 {

    display: flex;
    align-items: center;
}


a {
    text-decoration: none;
    color: black;
}

#menu-item5 {
    width: 300px;
    position: relative;
}

#menu-item5>button {
    font-size: 10px;
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    background-color: transparent;
    height: 20px;
    cursor: pointer;
}

#menu-item5>button>span {
    font-size: 20px;
    color: rgb(39, 141, 204);
    ;
}

#menu-item5>input {
    height: 24px;
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: 1px solid #aaa;
    padding-left: 10px;
}

#menu-item6>span {
    font-size: 24px;
}

#menu-item1>a {
    font-size: 44px;
    font-weight: 900;
    color: rgb(39, 141, 204);
}

.wrapper-item {
    width: 23%;
    height: auto;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.wrapper-item>img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapper-item>p {
    margin-top: 10px;

}

main {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}