body {
    margin: 0%;
}

* {
    box-sizing: border-box;
}

h1, p {
    margin: 10px 0px;
}

div {
    height: 400px;
    width: 400px;
    background-color: lightseagreen;
    color: white;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 48px;

    animation-name: simple;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;

}

div:hover {
    animation-play-state: paused;
}

@keyframes simple {
    0% {
        background-color: lightseagreen;
        transform: rotateZ(0deg);

    }

    100% {
        background-color: deeppink;
        transform: rotateZ(180deg);

    }
}