p {
    font-size: 24px;
    background-color: aquamarine;
}

div {
    padding: 50px;
    background-color: lightcoral;
    border: 5px solid #000;
    margin: 50px;
    height: 400px;
    width: 800px;
}